body {
    background-image: url("/assets/images/feltTabletop.png");
}

header {
    display: flex;
    flex: 1;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    display: flex;
    flex: 1;
}

#cards-left, #cards-right {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#cards-left {
    margin-right: 50px;
}

button#playGame.button.column {
    margin-left: 40px;
}

button#playGame.button.column, button#gameRules.button.column {
    height: 50px;
    width: 100px;
    margin-top: 15px;
    display: flex;
    flex: 1;
}

button#gameRules.button.column {
    margin-right: 100px;
    margin-left: 5px;
}

#main{
 margin-top: 150px;
 padding-left: 100px;
}

#P1, #P2, #P3, #P4, #P5, #C1, #C2, #C3, #C4, #C5 {
    background-image: url("/assets/images/cardBack.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 10px;
}