body {
    background-image: url("../images/feltTabletop.png");
}

#cards-right, #cards-left {
    display:flex;
    flex: 1;
}

header {
    display: flex;
    flex: 1;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    display: flex;
    flex: 1;
}

#cards-left, #cards-right {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#cards-left {
    margin-right: 50px;
}

div{
    padding-top: 10px;
}


#playGame,#gameRules {
    height: 50px;
    width: 100px;
    align-self: center;
}
#playGame{
    margin-left: 40px;
}
#gameRules {
    margin-right: 100px;
    margin-left: 5px;
}

#playGame:hover,#gameRules:hover{
    font-size: 20px;
    transition: all .3s ease-in-out;
}

#main{
 margin-top: 150px;
 display: flex;
}

.image {
    background-image: url("../images/cardBack.png");
    background-size: cover;
    background-position: center;
    margin: 10px;
    width: 180px;
    height: 270px;
    border-radius: 10px;
    cursor: pointer;
   
}


.result{
    display: flow-root;
    border: solid;
    border-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    height:auto
}
 
.winImage{
    src: url("https://s3.amazonaws.com/course_creation_production/v2_yes_no_quiz_questions/follow_up_images/000/002/084/original/Owl1.gif?1436567941");
}